.headerIndicator {
    width: 100%;

    display: block;

    padding-top: 4em;

    position: relative;

    font-size: 2em;

    color: #ccd6f6c4;
}

.headerIndicator::after {
    content: "";

    width: 20%;
    height: 5%;

    display: block;

    position: absolute;
    top: 85%;
    left: 10%;

    border-bottom: 1px solid #ccd6f6c4;
}

@media (width < 498px) {
    .headerIndicator::after {
        left: 40%;
    }
}


